@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set up Background Image & Position Central Div */
main {
    background: url("./images/union2.jpg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Courgette", cursive;
}

/* Organize content in the div */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgb(228, 207, 18) 0px -12px 30px, rgb(228, 207, 18) 0px 4px 6px, rgb(228, 207, 18) 0px 12px 13px, rgb(228, 207, 18) 0px -3px 5px;
    padding: 2rem;
    color: #fff;
}

/* Organize positioning of the fish and chips icons. */
.img-container {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.img-container > h3 {    
    font-size: 1.7rem;
}

.choices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;    
}

.choices > div {
    padding: 2rem;
}
.fish img {
    height: 150px;
}

.chips img {
    height: 100px;
}

.fish img:hover, .chips img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Input */
.player_config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player_config > *{
    padding: 1rem;
}

.player_names {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}


input {
    padding: 10px;
    border-radius: 5px;
}

input:focus {
    outline: 2px solid yellow;
}

.player_config p {
    font-size: 1.2rem;
    color: #333;
    /* Created with https://www.css-gradient.com */
    background: #FFDF23;
    background: -webkit-linear-gradient(top left, #FFDF23, #E5E077);
    background: -moz-linear-gradient(top left, #FFDF23, #E5E077);
    background: linear-gradient(to bottom right, #FFDF23, #E5E077);
    padding: 10px 20px;
    margin-bottom: 20px;
}

.player_config p span:hover {
    cursor: pointer;
    font-size: 1.4rem;
    color: #fff;
}

button {
    width: 100%;
    background: yellow;
    color: #333;
    font-size: 20px;
    font-family: "Courgette", cursive;
}

button:hover {
    background-color: yellowgreen;
    cursor: pointer;
    color: #fff;
}

/* GameBoard Container */
.container2 {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
}

.gameboard_container {
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 200px;
    padding: 20px;
}

#section_one, #section_three {
    background: #333;
    width: 500px;    
}

#section_two {
    margin-top: 30px;
}

#section_three {
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    bottom: 0;
}

#section_one h3, #section_three h3 {
    font-size: 2rem;
    text-align: center;
    margin-top: 50%;
}

.gameboard .square {
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.6)
}

.gameboard .square:hover {
    cursor: pointer;
    background: rgb(94, 93, 93);
}

.square > img {
    height: 100px;
}
